$red: #fa5252;

body{
    margin: 0;
}
header{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo {
    font-size: 22px;
    font-weight: bold;
    padding-left: 30px;
    height: 60px;
    display: flex;
    align-items: center;
}
.search{
    background: #F8F8F7;
    border-radius: 5px;
    width: 300px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.search input{
    border: none;
    width: 280px;
    height: 30px;
    outline: none;
    background: #F8F8F7;
}